{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}
{% block JQUERY %}
    $authorVoteCount = 3 ;
{% endblock %}
{% block header-block %}
    <!-- List of Articles that were in the Headers Category -->
    {% if articles %}
        {% for article in articles %}
            <div class="col-lg-4">
                <img class="img-circle img-headers"
                     src="{{ article.image.url }}"
                     alt="Generic placeholder image">

                <h2>{{ article.title }}</h2>

                <p>Authors :
                    {% for author in article.author.all %}
                        {{ author }}
                        <form method="post" action="{% url 'vote' author.id %}">
                            {% csrf_token %}
                            <div class="row vote-bar">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class="input-group number-spinner">
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" data-dir="dwn">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                                        <input type="text" class="form-control text-center" value="{{ author.likes }}">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" data-dir="up"><span
                                                class="glyphicon glyphicon-plus"></span></button>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    {% endfor %}
                </p>
                <p><a class="btn btn-default" href="#" role="button"> View details &raquo; </a></p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}